.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    background: rgb(4, 128, 230);
    color: white;
    font-weight: 18px;
    // position: fixed;
    // z-index: 10;
    span {
        padding: 2%;
        position: relative;
    }
    .search {
        display: inline-block;
        width: 40%;
        // margin-top: 1vh;
        .example-full-width {
            width: 100%;
            margin-top: 2vh;
            background: transparent;
        }
    }
    .tab {
        display: inline-block;
        margin-left: 8vh;
    }
    .mat-stroked-button {
        background-color: rgb(0, 153, 255);
        letter-spacing: 2px !important;
        left: 67px;
        // top: -5px;
    }
}

.status {
    width: 100%;
    background: #1299e857;
    justify-content: center;
    text-align: center;
    top: 60px;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    // position: fixed;
    // z-index: 10;
    //
    // margin-top: 3vh;
    // .statlabel {
    //     // margin-top: 1%;
    // }
}

#new,
#pending,
#booked,
#declined {
    font-size: 18px;
    padding-bottom: 1%;
    padding-top: 1%;
}

#new {
    color: #0a9aef;
    // background: rgba(0, 0, 0, 0.89);
}

#pending {
    color: rgb(3, 124, 124);
}

#booked {
    color: rgb(4, 146, 4);
}

#declined {
    color: rgb(179, 7, 7);
}

.service {
    color: white;
    font-weight: inherit;
}

.mat-raised-button {
    background: rgb(0, 153, 255);
    color: white;
    margin-left: 13%;
}

.badge {
    margin-left: -3%;
}

.container {
    position: fixed;
    z-index: 10;
    top: 0
}