<mat-toolbar class="container">
    <mat-toolbar-row class="toolbar">
        <div>
            <span>Explorehub</span>
            <span class="example-spacer"></span>
            <div class="search">
                <mat-form-field class="example-full-width">
                    <mat-label>Search</mat-label>
                    <input type="text" [(ngModel)]="keyWord" aria-label="Search" (keyup)="searchThis($event)" matInput>
                    <!-- (dataEmit)="filter($event)" [passData]="data" -->
                </mat-form-field>
            </div>
            <div class="tab">
                <button [routerLink]="['/pagesToApprove']" mat-stroked-button matBadge="6" matBadgePosition="after" matBadgeColor="accent" class="badge">Notification Pages</button>
                <button [routerLink]="['/notif']" mat-stroked-button matBadge="6" matBadgePosition="after" matBadgeColor="accent" class="badge">Bookings</button>
            </div>
            <button mat-stroked-button class="button" (click)="logOut()">Logout <span class="material-icons" >logout</span></button>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="status">
        <div class="statlabel">
            <button mat-button [routerLink]="['/notif/new']" id="new">New Bookings</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button [routerLink]="['/notif/pending']" id="pending">On Processed</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button [routerLink]="['/notif/booked']" id="booked">Booked</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button [routerLink]="['/notif/declined']" id="declined">Declined</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>