//toolbar
.toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    display: flex;
    background: rgb(4, 128, 230);
    color: white;
    font-weight: 18px;
    span {
        padding: 2%;
        position: relative;
    }
    .search {
        display: inline-block;
        width: 40%;
        .example-full-width {
            width: 100%;
            margin-top: 2vh;
            background: transparent;
        }
    }
    .tab {
        display: inline-block;
        margin-left: 8vh;
    }
    .mat-stroked-button {
        background-color: rgb(0, 153, 255);
        letter-spacing: 2px !important;
        left: 9%;
    }
}

.status {
    width: 100%;
    background: #eff4f757;
    justify-content: center;
    text-align: center;
    top: 60px;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    display: flex;
}

.focused_pending {
    background-color: #a1d0e7 !important;
}

.focused_online {
    background-color: rgb(180, 218, 218) !important;
}

#online,
#pending {
    font-size: 18px;
    padding-bottom: 1%;
    padding-top: 1%;
}

#pending {
    color: #0a9aef;
}

#online {
    color: rgb(3, 124, 124);
}

.service {
    color: white;
    font-weight: inherit;
}

.mat-raised-button {
    background: rgb(0, 153, 255);
    color: white;
    margin-left: 13%;
}

.badge,
.button {
    margin: 4%;
}

.container {
    position: fixed;
    z-index: 10;
    top: 0
}