<mat-toolbar class="container">
    <mat-toolbar-row class="toolbar">
        <div>
            <span>Explorehub</span>
            <span class="example-spacer"></span>
            <div class="search">
                <mat-form-field class="example-full-width">
                    <mat-label>Search</mat-label>
                    <input type="text" matInput>
                    <!-- (dataEmit)="filter($event)" [passData]="data" -->
                </mat-form-field>
            </div>
            <div class="tab">
                <button [routerLink]="['/notif']" mat-stroked-button matBadge="6" matBadgePosition="after" matBadgeColor="accent" class="badge">Notifications</button>
                <button [routerLink]="['/pageToApprove']" mat-stroked-button matBadge="6" matBadgePosition="after" matBadgeColor="accent" class="badge">Pages</button>
                <button [routerLink]="['/bookingNotif']" mat-stroked-button matBadge="6" matBadgePosition="after" matBadgeColor="accent" class="badge">Bookings</button>
            </div>
            <button mat-stroked-button class="button" (click)="logOut()">Logout <span class="material-icons" >logout</span></button>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="status">
        <div class="statlabel">
            <button mat-button [class.focused_pending]="adminService.currentPath == 'pendingPages'" (click)="goTo('pendingPages')" id="pending">Pending Pages Notification</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button [class.focused_online]="adminService.currentPath == 'onlinePages'" (click)="goTo('onlinePages')" id="online">Online Pages Notification</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>