<mat-dialog-content>
    <div id="modal-content-wrapper">
        <div class="selectedItem boxShadowed2">
            <div class="groupName" *ngFor="let item of selectedService">
                <p id="modal-title">{{ item.serviceGroupName }}</p>
                <hr>
                <p id="serviceName">Service Name</p>
            </div>
            <div class="item">
                <div class="itemInfo" *ngFor="let item of page">
                    <p class="label">Owner</p>
                    <p class="value"> {{ item.fullName }}</p>
                    <div *ngFor="let item of itemDetails">
                        <p class="label">{{ item.defaultName }}</p>
                        <p class="value">{{ item.text }}</p>
                    </div>
                </div>
            </div>
        </div>
        <section *ngFor="let item of bookingData">
            <div class='container'>
                <div class="fieldsHolder">
                    <p class="label">{{ item.label }}</p>
                    <p class="value">{{ item.value }}</p>
                </div>
            </div>
        </section>
    </div>
</mat-dialog-content>
<mat-dialog-actions id="modal-footer" align="start" *ngFor="let item of booking">
    <button mat-button mat-dialog-close color="primary" id="modal-cancel-button" (click)="closeModal()">
            <span class="material-icons">keyboard_arrow_left</span>Back
    </button>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial id="modal-booked-button" (click)="bookedFunction(item._id)">Booked
            <span class="material-icons">event_available</span></button>&nbsp;&nbsp;&nbsp;
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial id="modal-declined-button" (click)="declinedFunction(item._id)">Declined
            <span class="material-icons">event_busy</span></button>
</mat-dialog-actions>