h1 {
    text-align: center;
    color: #0399f0f8;
    padding: 15px;
}

.container[_ngcontent-qhk-c117] {
    position: relative;
    z-index: 10;
    top: 0;
}

// .container {
//     // overflow: hidden;
//     // position: absolute;
//     // margin-top: 50%
//     position: relative;
//     z-index: 10;
//     top: 0;
// }
table {
    width: 90%;
    text-align: center;
    align-items: center;
    margin: auto;
}

.head {
    text-align: center;
    align-items: center;
}

tr.mat-row:hover {
    background: rgba(9, 150, 206, 0.568);
}

tr.mat-header-row {
    background: rgb(9, 150, 206);
}

#modal-component {
    padding: 0;
}

.custom-modalbox {
    mat-dialog-container {
        padding: 0;
    }
}