<div>
    <h1>New Booking Request</h1>
    <table class="notif">
        <tr>
            <th></th>
            <th>Name of Tourist Spot</th>
            <th>Owners Name</th>
            <th>Location</th>
            <th>Date Receved</th>
        </tr>
        <tr (click)="openModal()">
            <td><span class="material-icons ">email</span></td>
            <td>Basdaku Beach Resort</td>
            <td>Jhon Jhonny</td>
            <td>Moalboal Cebu</td>
            <td>March 10,2020 | 8:00am</td>
        </tr>
        <tr>
            <td><span class="material-icons ">email</span></td>
            <td>Basdaku Beach Resort</td>
            <td>Jhon Jhonny</td>
            <td>Moalboal Cebu</td>
            <td>March 10,2020 | 8:00am</td>
        </tr>
        <tr>
            <td><span class="material-icons ">email</span></td>
            <td>Basdaku Beach Resort</td>
            <td>Jhon Jhonny</td>
            <td>Moalboal Cebu</td>
            <td>March 10,2020 | 8:00am</td>
        </tr>
        <tr>
            <td><span class="material-icons ">email</span></td>
            <td>Basdaku Beach Resort</td>
            <td>Jhon Jhonny</td>
            <td>Moalboal Cebu</td>
            <td>March 10,2020 | 8:00am</td>
        </tr>
    </table>
</div>