<body>
    <div class="example-card">
        <mat-card>
            <span class="material-icons">account_circle</span>
            <mat-card-title>Log in here</mat-card-title><br><br>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" class="example-form">
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" class="form-control" name="mail" [(ngModel)]="credentialsForm.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #mail="ngModel" matInput>
                    </mat-form-field>
                    <span *ngIf="mail.invalid && mail.touched" class="error">Email is invalid</span>

                </div>
                <div class="form-group">
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="credentialsForm.password" #password="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" matInput>
                    </mat-form-field>
                    <span *ngIf="password.invalid && password.touched" class="error">Password is invalid</span>

                </div>
                <button type="submit" mat-stroked-button [routerLink]="['/notif']" routerLinkActive="router-link-active" [disabled]="loginForm.invalid">LOGIN</button>
            </form>
        </mat-card>
    </div>
</body>

<!-- <div class="login">
    <div>
        <input type="text">
        <button></button>
    </div>
</div> -->