<mat-dialog-content class="mat-typography">
    <p>Hakdog</p>
</mat-dialog-content>
<div *ngIf="pagesData[0].status === 'Pending'">
    <mat-dialog-actions id="modal-footer" align="start" *ngFor="let item of pagesData">

        <button mat-button mat-dialog-close id="modal-cancel-button"> <span class="material-icons">keyboard_arrow_left</span>Back</button>

        <button mat-button [mat-dialog-close]="true" cdkFocusInitial id="process" (click)="getProcessPage(item)">On Process
                    <span class="material-icons">sync</span>
            </button>

    </mat-dialog-actions>
</div>
<div *ngIf="pagesData[0].status === 'Processing'">
    <mat-dialog-actions id="modal-footer" align="start" *ngFor="let onlineItem of pagesData">
        <button mat-button mat-dialog-close id="modal-cancel-button"> <span class="material-icons">keyboard_arrow_left</span>Back</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial id="approve" (click)="toApprove(onlineItem)">Approve
                <span class="material-icons" >check_circle</span>
                </button>
        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger class="returnTo">Return to <span class="material-icons">
                        restore</span></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Pending Page</button>
        </mat-menu>
    </mat-dialog-actions>
</div>
<div *ngIf="pagesData[0].status === 'Online'">
    <mat-dialog-actions id="modal-footer" align="start" *ngFor="let each of pagesData">
        <button mat-button mat-dialog-close id="modal-cancel-button"> <span class="material-icons">keyboard_arrow_left</span>Back</button>
        <button mat-button [matMenuTriggerFor]="menu" #menuTrigger class="returnTo">Return to <span class="material-icons">
                            restore</span></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Pending</button>
            <button mat-menu-item>Processing</button>

        </mat-menu>
    </mat-dialog-actions>
</div>