<div>
    <h1>Declined Request</h1>
    <table id="declined">
        <tr>
            <th>No.</th>
            <th>Name of Tourist Spot</th>
            <th>Owners Name</th>
            <th>Date Being Booked</th>
            <th></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Basdaku Beach Resort</td>
            <td>Jhon Jhonny</td>
            <td>March 13,2020 | 8:00am</td>
            <td><button mat-button id="restore" (click)="restore()">Restore</button></td>

        </tr>
    </table>
</div>