.hasEnded {
    padding:20px 25px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 5px rgb(141, 139, 139);
    font-size: 16px;
    background-color: rgb(235, 39, 13);
    color:white;
    position: fixed;
    bottom: 0;
    right:0;
    margin:25px;
}