<h1>6 New notifications needs to be approved!</h1>
<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Christian Carl Tabo-tabo</mat-card-title>
            <mat-card-subtitle>Owner</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/bckgrnd.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>Basdaku Beach Resort</h3>
            <p>Location: Moalboal, Cebu</p>
            <p>Type: Tourist Spot Page</p>

        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Owner</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/bckgrnd.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>Basdaku Beach Resort</h3>
            <p>Location: Moalboal, Cebu</p>
            <p>Type: Tourist Spot Service</p>
            <p>Category: Transportation</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Owner</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/bckgrnd.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>Basdaku Beach Resort</h3>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Christian Carl Tabo-tabo</mat-card-title>
            <mat-card-subtitle>Owner</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/bckgrnd.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>Basdaku Beach Resort</h3>
            <p>Location: Moalboal, Cebu</p>
            <p>Type: Tourist Spot Page</p>

        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Owner</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/bckgrnd.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>Basdaku Beach Resort</h3>
            <p>Location: Moalboal, Cebu</p>
            <p>Type: Tourist Spot Service</p>
            <p>Category: Transportation</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Owner</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/bckgrnd.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <h3>Basdaku Beach Resort</h3>

        </mat-card-content>
    </mat-card>
</div>