<div>
    <h1>Request Granted</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef class="head"> No </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="touristSpotName">
            <th mat-header-cell *matHeaderCellDef class="head"> Tourist Spot Name </th>
            <td mat-cell *matCellDef="let element"> {{element.touristSpotName}} </td>
        </ng-container>


        <ng-container matColumnDef="ownersName">
            <th mat-header-cell *matHeaderCellDef class="head"> Owners Name </th>
            <td mat-cell *matCellDef="let element"> {{element.ownersName}} </td>
        </ng-container>


        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef class="head"> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="dateProcess">
            <th mat-header-cell *matHeaderCellDef class="head"> Date Process </th>
            <td mat-cell *matCellDef="let element"> {{element.dateProcess}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>