<div>
    <h1>Request Granted</h1>
    <table id="booked">
        <tr>
            <th>No.</th>
            <th>Name of Tourist Spot</th>
            <th>Owners Name</th>
            <th>Date Being Booked</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Basdaku Beach Resort</td>
            <td>Jhon Jhonny</td>
            <td>March 13,2020 | 8:00am</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Basdaku Beach Resort</td>
            <td>Jhon Jhonny</td>
            <td>March 13,2020 | 8:00am</td>
        </tr>

    </table>
</div>