h1 {
    text-align: center;
    color: #0399f0f8;
    margin-top: 136px;
}

table {
    width: 90%;
    text-align: center;
    align-items: center;
    margin: auto
}

.head {
    text-align: center;
    align-items: center;
}

tr.mat-row:hover {
    background: rgba(9, 150, 206, 0.568);
}

tr.mat-header-row {
    background: rgb(9, 150, 206);
}