<mat-toolbar class="container">
    <mat-toolbar-row class="toolbar">
        <div>
            <span>Explorehub</span>
            <span class="example-spacer"></span>
            <div class="search">
                <mat-form-field class="example-full-width">
                    <mat-label>Search</mat-label>
                    <input type="text" matInput>
                    <!-- (dataEmit)="filter($event)" [passData]="data" -->
                </mat-form-field>
            </div>
            <div class="tab">
                <button [routerLink]="['/notif']" mat-stroked-button matBadge="6" matBadgePosition="after" matBadgeColor="accent" class="badge">Notifications</button>
                <button [routerLink]="['/pageToApprove']" mat-stroked-button matBadge="6" matBadgePosition="after" matBadgeColor="accent" class="badge">Pages</button>
                <button [routerLink]="['/bookingNotif']" mat-stroked-button matBadge="6" matBadgePosition="after" matBadgeColor="accent" class="badge">Bookings</button>
            </div>
            <button mat-stroked-button class="button" (click)="logOut()">Logout <span class="material-icons" >logout</span></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container1">
    <label class="title">Notifications</label>
    <div class="empty">
        <!-- *ngIf="notifications.length == 0 && !loading" -->
        <div class="iholder">
            <!-- <ion-icon name="folder-open-outline"></ion-icon> -->
        </div>
    </div>
    <div class="cont lightBackground">
        <div class="notifCard" [class.unread]="!opened">

            <div class="notifPicHolder" [class.unreadsPic]="!opened">
                <div class="notifPic">
                    <span class="material-icons">notifications_none</span>
                </div>
            </div>

            <div class="notifInfo">
                <div class="notifTitle"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quae illo atque nobis minus maxime nulla quibusdam recusandae pariatur rem?
                </div>
                <div class="notifDate">April 09, 2021</div>
            </div>
            <div class="options">
                <span class="material-icons"> more_horiz </span>
            </div>
        </div>

        <!-- <app-notification-card *ngFor="let notif of notifications" [notif]="notif"></app-notification-card> -->
    </div>
</div>
<!-- <router-outlet></router-outlet> -->