<div class="empty" *ngIf="notifications.length == 0 && !loading">
    <div class="iholder">
        <!-- <ion-icon name="folder-open-outline"></ion-icon> -->
    </div>
    <p>There's nothing here.</p>
</div>
<div class="lightBackground">
    <div class="cont">
        <div class="notifGroup" *ngFor="let notif of notifications">
            <div class="notifHeader">
                <div class="title">{{getTitle(notif)}}</div>
                <div class="numberOfNotif">{{notif.notifications.length}}</div>
            </div>

            <app-notification-card *ngFor="let ntf of notif.notifications.reverse()" [notificationGroup]="notif"
                [notif]="ntf"></app-notification-card>
        </div>
    </div>
</div>