<h1>{{ pages.length }} Page/s needs to be approved!</h1>

<div class="container">
    <mat-card class="example-card" *ngFor="let item of pages" (click)="openModal(item)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ item.creator.fullName }}</mat-card-title>
            <mat-card-subtitle>Owner</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ item.components.image }}">
        <mat-card-content style="margin-bottom:14%">
            <h3>{{ item.components.name }}</h3>
            <p>Location: <span>{{ item.components.location }}</span></p>
            <p>Type: <span>{{ item.pageType }}</span> </p>
        </mat-card-content>
        <div *ngIf="item.status == 'Pending'; else Processing" class="status"><span class="material-icons pendingIcon">
                hourglass_empty
            </span>
            <div>Pending</div>
        </div>
        <ng-template #Processing>
            <div class="processing"><span class="material-icons processIcon">rotate_right</span>
                <div>Processing</div>
            </div>
        </ng-template>
    </mat-card>
</div>